In [1]:
import pandas as pd
import geopy.distance

In [2]:
city = pd.read_csv('Paris.csv')

In [3]:
city.head()

,Unnamed: 0,FileName,V1,V2,V3,V4
0,1,/Users/lucamartial/Working Directory/Paris/662...,28526,04-25-2018,14:11,48.9503188807609_2.0679242344190243_180_0.jpg
1,2,/Users/lucamartial/Working Directory/Paris/662...,32843,04-25-2018,14:11,48.95115437952288_2.0663042176388444_270_0.jpg
2,3,/Users/lucamartial/Working Directory/Paris/662...,13724,04-25-2018,14:11,48.95138626484626_2.065878108753509_0_90.jpg
3,4,/Users/lucamartial/Working Directory/Paris/662...,32109,04-25-2018,14:11,48.95036067749351_2.0654597799770045_0_270.jpg
4,5,/Users/lucamartial/Working Directory/Paris/662...,11731,04-25-2018,14:11,48.95066072080098_2.0682293214905485_0_90.jpg

In [4]:
city.drop(city.iloc[:, 0:2], inplace=True, axis=1)

Using example for the first 2 lat/long pairs to sample out of 2000 (named "A" and "B"):

1. open csv file with all lat/long pairs available for a particular city
2. sample 1 random lat/long pair "A" from csv, extract into list "X"
3. sample 1 random lat/long pair "B" from csv
4. iterate through list "X" of extracted lat/long pairs
5. check if lat/long pair "B" is more than 100meters away from lat/long pairs in list "X"
6. if yes, add lat/long pair "B" to list "X"
7. repeat until 2000 lat/long pairs are extracted into list "X"

In [5]:
# sampling 1 row
row1 = city.sample(n = 1)

In [6]:
row1

,V1,V2,V3,V4
3063988,28518,04-17-2018,16:34,48.80554665829646_2.4746402146209903_0_270.jpg

In [8]:
# lat
row1.V4.str.split("_", expand=True)[0]

3063988    48.80554665829646
Name: 0, dtype: object

In [9]:
# lon
row1.V4.str.split("_", expand=True)[1]

3063988    2.4746402146209903
Name: 1, dtype: object

In [45]:
# loop
df = row1
for i in range(100): 
    sam = city.sample(n = 1)
    if geopy.distance.distance((float(row1.V4.str.split("_", expand=True)[0]), float(row1.V4.str.split("_", expand=True)[1])), (float(sam.V4.str.split("_", expand=True)[0]), float(sam.V4.str.split("_", expand=True)[1]))).km > 0.1:
        df = pd.concat([df, sam])
    else:
        i -= 1
        continue

In [46]:
# prints 1 extra row than range because we start off with row1 already in the df
df

,V1,V2,V3,V4
3063988,28518,04-17-2018,16:34,48.80554665829646_2.4746402146209903_0_270.jpg
2333791,32046,04-18-2018,13:39,48.76321987523051_2.4447093533838142_180_0.jpg
3061712,45127,04-17-2018,16:35,48.81401635523035_2.476915501199869_0_0.jpg
5615639,24761,04-16-2018,13:46,48.83074943637107_2.608096098458873_90_0.jpg
4843552,20843,04-16-2018,18:05,48.75470896929722_2.554795981771349_0_270.jpg
...,...,...,...,...
4611038,44828,04-16-2018,19:07,48.96224474380376_2.5446895226517654_180_0.jpg
283289,19732,04-25-2018,11:59,48.88881107587414_2.0897449025728747_0_270.jpg
3062348,67435,04-17-2018,16:34,48.8115958942964_2.476291282507418_0_0.jpg
3830650,44280,04-17-2018,12:50,48.87808759964057_2.509409681636953_90_0.jpg
795272,35899,04-24-2018,18:53,48.8393002428877_2.1383467524318576_180_0.jpg